@*@model DAL.HaberTbl*@
@model WebApplication6.Models.NewsViewModel

@{
    ViewBag.Title = "AddNews";
}

<h2>AddNews</h2>


@using (Html.BeginForm("AddNews", "News", FormMethod.Post,
                                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>HaberTbl</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.spot, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.spot, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.spot, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Editor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EditorId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="file" id="file" value="Browse" style="width: 100%;" />

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <input type="submit" value="Ajax-Kaydet" class="btn btn-primary" onclick="submitForm()" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "News", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function sumbitForm() {
        $.ajax({
            type: 'POST',
            url: "/News/AddNews",
            data: {
                Title: $('#txtTitle').val(),
                Spot: $('#txtSpot').val(),
                Content: $('#txtContent').val(),

            },
            dataType: "json",
            success: function (resulData) {
                if (resulData == 1) {
                    refreshGrid();
                    $('txtTitle').val("");
                    $('txtSpot').val("");
                    $('txtContent').val("");
                }
                else {
                    alert("Save Not Complete")
                }
            }
        })
    }
</script>