@model IEnumerable<DAL.HaberTbl>

@{
    ViewBag.Title = "NewsList";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewsList</h2>
<p>
    <a href="/News/News" class="btn btn-info">AnaSayfa</a>
</p>
<p>
    <a href="/News/AddNews" class="btn btn-info">Add</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editor.Name)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image.Name)

        </td>
        <td>
            <a href="/News/Delete/@item.Id" class="btn btn-danger" new { onclick="return confirmDelete()" }>Delete</a>
            <a href="/News/Update/@item.Id" class="btn btn-info">Update</a>

        </td>
    </tr>
    }

</table>
